@import './base.css';

body {
  text-align: center;
}

/* Boost rem for large screens */
/* Breakpoints based on <https://tailwindcss.com/docs/responsive-design>. */
/* sm:640px, md:768px, lg:1024px, xl:1280px, 2xl:1536px */
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1536px) {
  html {
    font-size: 20px;
  }
}
